<div class="container"
     [@state]="state"
     (@state.done)="animationDone()">
  <div class="row align-items-center">
    <div class="col-12">
      <span class="tomato">></span>
      <span id="command" class="tomato"></span>
      <div *ngIf="typingEnds" class="ascii-art tomato">
        ██╗    ██╗███████╗██╗      ██████╗ ██████╗ ███╗   ███╗███████╗
        ██║    ██║██╔════╝██║     ██╔════╝██╔═══██╗████╗ ████║██╔════╝
        ██║ █╗ ██║█████╗  ██║     ██║     ██║   ██║██╔████╔██║█████╗
        ██║███╗██║██╔══╝  ██║     ██║     ██║   ██║██║╚██╔╝██║██╔══╝
        ╚███╔███╔╝███████╗███████╗╚██████╗╚██████╔╝██║ ╚═╝ ██║███████╗
         ╚══╝╚══╝ ╚══════╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
      </div>
    </div>
  </div>
</div>
